GITHUB_PACKAGES_USERNAME=CHANGE_ME
GITHUB_PACKAGES_TOKEN=CHANGE_ME

POSTGRES_DB=mediaboom_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME
ConnectionStrings__MediaBoomServiceDb=Host=localhost;Port=5435;Database=mediaboom_db;Username=postgres;Password=CHANGE_ME
ConnectionStrings__MediaBoomFileServiceDb=Host=127.0.0.1;Port=5435;Database=mediaboom_file_service_db;Username=postgres;Password=CHANGE_ME